In [61]:
#librerias
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [62]:
#Conectar el motor al archivo de la base de datos a usar
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

In [63]:
metadata = MetaData() 
metadata.create_all(engine) 
inspector = inspect(engine) 
inspector.get_columns('customers')

#Revisé las columnas en la tabla de Tracks

[{'name': 'CustomerId',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'FirstName',
  'type': NVARCHAR(length=40),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'LastName',
  'type': NVARCHAR(length=20),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Company',
  'type': NVARCHAR(length=80),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Address',
  'type': NVARCHAR(length=70),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'City',
  'type': NVARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'State',
  'type': NVARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': NVARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PostalCode',
  'type': NVARCHAR(length=10),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Phone',
  'type': NVARCHAR(length=24),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Fax',
  'type': NVARCHAR(length=24),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Email',
  'type': NVARCHAR(length=60),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'SupportRepId',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [64]:
# Transform
#INVOICES
#Crear la consulta que haga el cambio en la tabla invoices cambiando los NULL con NA

with engine.connect() as con:
    
    rs = con.execute("""SELECT InvoiceId,
       InvoiceDate,
       BillingAddress,
       BillingCity,
       CASE
           WHEN BillingState is NOT NULL then BillingState
       ELSE 'NA'
        END
       BillingState,
       BillingCountry,
       CASE
           WHEN BillingPostalCode is NOT NULL then BillingPostalCode
       ELSE 'NA'
       END
       BillingPostalCode,
       Total
  FROM invoices;""")
    
    for row in rs:
        print(row)
        
con.close()

(1, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'NA', 'Germany', '70174', 1.98)
(2, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', 'NA', 'Norway', '0171', 3.96)
(3, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', 'NA', 'Belgium', '1000', 5.94)
(4, '2009-01-06 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91)
(5, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86)
(6, '2009-01-19 00:00:00', 'Berger Straße 10', 'Frankfurt', 'NA', 'Germany', '60316', 0.99)
(7, '2009-02-01 00:00:00', 'Barbarossastraße 19', 'Berlin', 'NA', 'Germany', '10779', 1.98)
(8, '2009-02-01 00:00:00', '8, Rue Hanovre', 'Paris', 'NA', 'France', '75002', 1.98)
(9, '2009-02-02 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'NA', 'France', '33000', 3.96)
(10, '2009-02-03 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'NA', 5.94)
(11, '2009-02-06 00:00:00', '202 Hoxton Street', 'London', 'NA', 'United Kingdom', 'N1 5LH', 8.91)
(12, '2009-02-11 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'NA', 'Germany', '70174', 13.86)
(13, '2009-02-19 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 0.99)
(14, '2009-03-04 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 1.98)
(15, '2009-03-04 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 1.98)
(16, '2009-03-05 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 3.96)
(17, '2009-03-06 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 5.94)
(18, '2009-03-09 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 8.91)
(19, '2009-03-14 00:00:00', '8, Rue Hanovre', 'Paris', 'NA', 'France', '75002', 13.86)
(20, '2009-03-22 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'NA', 'United Kingdom', 'EH4 1HH', 0.99)
(21, '2009-04-04 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 1.98)
(22, '2009-04-04 00:00:00', 'Calle Lira, 198', 'Santiago', 'NA', 'Chile', 'NA', 1.98)
(23, '2009-04-05 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'NA', 'India', '560001', 3.96)
(24, '2009-04-06 00:00:00', 'Ullevålsveien 14', 'Oslo', 'NA', 'Norway', '0171', 5.94)
(25, '2009-04-09 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 8.91)
(26, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86)
(27, '2009-04-22 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 0.99)
(28, '2009-05-05 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'NA', 'Portugal', 'NA', 1.98)
(29, '2009-05-05 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'NA', 'Germany', '10789', 1.98)
(30, '2009-05-06 00:00:00', 'Barbarossastraße 19', 'Berlin', 'NA', 'Germany', '10779', 3.96)
(31, '2009-05-07 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'NA', 'France', '33000', 5.94)
(32, '2009-05-10 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 8.91)
(33, '2009-05-15 00:00:00', 'Calle Lira, 198', 'Santiago', 'NA', 'Chile', 'NA', 13.86)
(34, '2009-05-23 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 0.99)
(35, '2009-06-05 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 1.98)
(36, '2009-06-05 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 1.98)
(37, '2009-06-06 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 3.96)
(38, '2009-06-07 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 5.94)
(39, '2009-06-10 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 8.91)
(40, '2009-06-15 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'NA', 'Germany', '10789', 13.86)
(41, '2009-06-23 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'NA', 'Spain', '28015', 0.99)
(42, '2009-07-06 00:00:00', 'Celsiusg. 9', 'Stockholm', 'NA', 'Sweden', '11230', 1.98)
(43, '2009-07-06 00:00:00', '113 Lupus St', 'London', 'NA', 'United Kingdom', 'SW1V 3EN', 1.98)
(44, '2009-07-07 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 3.96)
(45, '2009-07-08 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'NA', 'India', '560001', 5.94)
(46, '2009-07-11 00:00:00', 'Rilská 3174/6', 'Prague', 'NA', 'Czech Republic', '14300', 8.91)
(47, '2009-07-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 13.86)
(48, '2009-07-24 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 0.99)
(49, '2009-08-06 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 1.98)
(50, '2009-08-06 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 1.98)
(51, '2009-08-07 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'NA', 'Portugal', 'NA', 3.96)
(52, '2009-08-08 00:00:00', 'Barbarossastraße 19', 'Berlin', 'NA', 'Germany', '10779', 5.94)
(53, '2009-08-11 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'NA', 'Finland', '00530', 8.91)
(54, '2009-08-16 00:00:00', '113 Lupus St', 'London', 'NA', 'United Kingdom', 'SW1V 3EN', 13.86)
(55, '2009-08-24 00:00:00', 'Grétrystraat 63', 'Brussels', 'NA', 'Belgium', '1000', 0.99)
(56, '2009-09-06 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'NA', 'Denmark', '1720', 1.98)
(57, '2009-09-06 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 1.98)
(58, '2009-09-07 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 3.96)
(59, '2009-09-08 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 5.94)
(60, '2009-09-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 8.91)
(61, '2009-09-16 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 13.86)
(62, '2009-09-24 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'NA', 0.99)
(63, '2009-10-07 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 1.98)
(64, '2009-10-07 00:00:00', 'Ordynacka 10', 'Warsaw', 'NA', 'Poland', '00-358', 1.98)
(65, '2009-10-08 00:00:00', 'Celsiusg. 9', 'Stockholm', 'NA', 'Sweden', '11230', 3.96)
(66, '2009-10-09 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 5.94)
(67, '2009-10-12 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'NA', 'Germany', '70174', 8.91)
(68, '2009-10-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 13.86)
(69, '2009-10-25 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 0.99)
(70, '2009-11-07 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 1.98)
(71, '2009-11-07 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 1.98)
(72, '2009-11-08 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 3.96)
(73, '2009-11-09 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'NA', 'Portugal', 'NA', 5.94)
(74, '2009-11-12 00:00:00', '8, Rue Hanovre', 'Paris', 'NA', 'France', '75002', 8.91)
(75, '2009-11-17 00:00:00', 'Ordynacka 10', 'Warsaw', 'NA', 'Poland', '00-358', 13.86)
(76, '2009-11-25 00:00:00', 'Ullevålsveien 14', 'Oslo', 'NA', 'Norway', '0171', 0.99)
(77, '2009-12-08 00:00:00', 'Klanova 9/506', 'Prague', 'NA', 'Czech Republic', '14700', 1.98)
(78, '2009-12-08 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'NA', 'Austria', '1010', 1.98)
(79, '2009-12-09 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'NA', 'Denmark', '1720', 3.96)
(80, '2009-12-10 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 5.94)
(81, '2009-12-13 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 8.91)
(82, '2009-12-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 13.86)
(83, '2009-12-26 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'NA', 'France', '33000', 0.99)
(84, '2010-01-08 00:00:00', '68, Rue Jouvence', 'Dijon', 'NA', 'France', '21000', 1.98)
(85, '2010-01-08 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'NA', 'Hungary', 'H-1073', 1.98)
(86, '2010-01-09 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 3.96)
(87, '2010-01-10 00:00:00', 'Celsiusg. 9', 'Stockholm', 'NA', 'Sweden', '11230', 6.94)
(88, '2010-01-13 00:00:00', 'Calle Lira, 198', 'Santiago', 'NA', 'Chile', 'NA', 17.91)
(89, '2010-01-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'NA', 'Austria', '1010', 18.86)
(90, '2010-01-26 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 0.99)
(91, '2010-02-08 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 1.98)
(92, '2010-02-08 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 1.98)
(93, '2010-02-09 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 3.96)
(94, '2010-02-10 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 5.94)
(95, '2010-02-13 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'NA', 'Germany', '10789', 8.91)
(96, '2010-02-18 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'NA', 'Hungary', 'H-1073', 21.86)
(97, '2010-02-26 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'NA', 'India', '560001', 1.99)
(98, '2010-03-11 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.98)
(99, '2010-03-11 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 3.98)
(100, '2010-03-12 00:00:00', 'Klanova 9/506', 'Prague', 'NA', 'Czech Republic', '14700', 3.96)
(101, '2010-03-13 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'NA', 'Denmark', '1720', 5.94)
(102, '2010-03-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 9.91)
(103, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86)
(104, '2010-03-29 00:00:00', 'Barbarossastraße 19', 'Berlin', 'NA', 'Germany', '10779', 0.99)
(105, '2010-04-11 00:00:00', '4, Rue Milton', 'Paris', 'NA', 'France', '75009', 1.98)
(106, '2010-04-11 00:00:00', '11, Place Bellecour', 'Lyon', 'NA', 'France', '69002', 1.98)
(107, '2010-04-12 00:00:00', '68, Rue Jouvence', 'Dijon', 'NA', 'France', '21000', 3.96)
(108, '2010-04-13 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 5.94)
(109, '2010-04-16 00:00:00', '113 Lupus St', 'London', 'NA', 'United Kingdom', 'SW1V 3EN', 8.91)
(110, '2010-04-21 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 13.86)
(111, '2010-04-29 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 0.99)
(112, '2010-05-12 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 1.98)
(113, '2010-05-12 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 1.98)
(114, '2010-05-13 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 3.96)
(115, '2010-05-14 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 5.94)
(116, '2010-05-17 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 8.91)
(117, '2010-05-22 00:00:00', '11, Place Bellecour', 'Lyon', 'NA', 'France', '69002', 13.86)
(118, '2010-05-30 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 0.99)
(119, '2010-06-12 00:00:00', '307 Macacha Güemes', 'Buenos Aires', 'NA', 'Argentina', '1106', 1.98)
(120, '2010-06-12 00:00:00', '12,Community Centre', 'Delhi', 'NA', 'India', '110017', 1.98)
(121, '2010-06-13 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.96)
(122, '2010-06-14 00:00:00', 'Klanova 9/506', 'Prague', 'NA', 'Czech Republic', '14700', 5.94)
(123, '2010-06-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 8.91)
(124, '2010-06-22 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 13.86)
(125, '2010-06-30 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'NA', 'Portugal', 'NA', 0.99)
(126, '2010-07-13 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'NA', 'Portugal', 'NA', 1.98)
(127, '2010-07-13 00:00:00', 'Berger Straße 10', 'Frankfurt', 'NA', 'Germany', '60316', 1.98)
(128, '2010-07-14 00:00:00', '4, Rue Milton', 'Paris', 'NA', 'France', '75009', 3.96)
(129, '2010-07-15 00:00:00', '68, Rue Jouvence', 'Dijon', 'NA', 'France', '21000', 5.94)
(130, '2010-07-18 00:00:00', 'Ordynacka 10', 'Warsaw', 'NA', 'Poland', '00-358', 8.91)
(131, '2010-07-23 00:00:00', '12,Community Centre', 'Delhi', 'NA', 'India', '110017', 13.86)
(132, '2010-07-31 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 0.99)
(133, '2010-08-13 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 1.98)
(134, '2010-08-13 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 1.98)
(135, '2010-08-14 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 3.96)
(136, '2010-08-15 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 5.94)
(137, '2010-08-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 8.91)
(138, '2010-08-23 00:00:00', 'Berger Straße 10', 'Frankfurt', 'NA', 'Germany', '60316', 13.86)
(139, '2010-08-31 00:00:00', 'Celsiusg. 9', 'Stockholm', 'NA', 'Sweden', '11230', 0.99)
(140, '2010-09-13 00:00:00', '202 Hoxton Street', 'London', 'NA', 'United Kingdom', 'N1 5LH', 1.98)
(141, '2010-09-13 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'NA', 'United Kingdom', 'EH4 1HH', 1.98)
(142, '2010-09-14 00:00:00', '307 Macacha Güemes', 'Buenos Aires', 'NA', 'Argentina', '1106', 3.96)
(143, '2010-09-15 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 5.94)
(144, '2010-09-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'NA', 'Austria', '1010', 8.91)
(145, '2010-09-23 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 13.86)
(146, '2010-10-01 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 0.99)
(147, '2010-10-14 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98)
(148, '2010-10-14 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 1.98)
(149, '2010-10-15 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'NA', 'Portugal', 'NA', 3.96)
(150, '2010-10-16 00:00:00', '4, Rue Milton', 'Paris', 'NA', 'France', '75009', 5.94)
(151, '2010-10-19 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'NA', 'Hungary', 'H-1073', 8.91)
(152, '2010-10-24 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'NA', 'United Kingdom', 'EH4 1HH', 13.86)
(153, '2010-11-01 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'NA', 'Denmark', '1720', 0.99)
(154, '2010-11-14 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 1.98)
(155, '2010-11-14 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 1.98)
(156, '2010-11-15 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 3.96)
(157, '2010-11-16 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 5.94)
(158, '2010-11-19 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 8.91)
(159, '2010-11-24 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 13.86)
(160, '2010-12-02 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 0.99)
(161, '2010-12-15 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 1.98)
(162, '2010-12-15 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'NA', 'Spain', '28015', 1.98)
(163, '2010-12-16 00:00:00', '202 Hoxton Street', 'London', 'NA', 'United Kingdom', 'N1 5LH', 3.96)
(164, '2010-12-17 00:00:00', '307 Macacha Güemes', 'Buenos Aires', 'NA', 'Argentina', '1106', 5.94)
(165, '2010-12-20 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 8.91)
(166, '2010-12-25 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 13.86)
(167, '2011-01-02 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 0.99)
(168, '2011-01-15 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 1.98)
(169, '2011-01-15 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 1.98)
(170, '2011-01-16 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 3.96)
(171, '2011-01-17 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'NA', 'Portugal', 'NA', 5.94)
(172, '2011-01-20 00:00:00', '11, Place Bellecour', 'Lyon', 'NA', 'France', '69002', 8.91)
(173, '2011-01-25 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'NA', 'Spain', '28015', 13.86)
(174, '2011-02-02 00:00:00', 'Klanova 9/506', 'Prague', 'NA', 'Czech Republic', '14700', 0.99)
(175, '2011-02-15 00:00:00', 'Rilská 3174/6', 'Prague', 'NA', 'Czech Republic', '14300', 1.98)
(176, '2011-02-15 00:00:00', 'Grétrystraat 63', 'Brussels', 'NA', 'Belgium', '1000', 1.98)
(177, '2011-02-16 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 3.96)
(178, '2011-02-17 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 5.94)
(179, '2011-02-20 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 8.91)
(180, '2011-02-25 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 13.86)
(181, '2011-03-05 00:00:00', '68, Rue Jouvence', 'Dijon', 'NA', 'France', '21000', 0.99)
(182, '2011-03-18 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'NA', 'Finland', '00530', 1.98)
(183, '2011-03-18 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'NA', 1.98)
(184, '2011-03-19 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 3.96)
(185, '2011-03-20 00:00:00', '202 Hoxton Street', 'London', 'NA', 'United Kingdom', 'N1 5LH', 5.94)
(186, '2011-03-23 00:00:00', '12,Community Centre', 'Delhi', 'NA', 'India', '110017', 8.91)
(187, '2011-03-28 00:00:00', 'Grétrystraat 63', 'Brussels', 'NA', 'Belgium', '1000', 13.86)
(188, '2011-04-05 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 0.99)
(189, '2011-04-18 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 1.98)
(190, '2011-04-18 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 1.98)
(191, '2011-04-19 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 3.96)
(192, '2011-04-20 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 5.94)
(193, '2011-04-23 00:00:00', 'Berger Straße 10', 'Frankfurt', 'NA', 'Germany', '60316', 14.91)
(194, '2011-04-28 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'NA', 21.86)
(195, '2011-05-06 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 0.99)
(196, '2011-05-19 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'NA', 'Germany', '70174', 1.98)
(197, '2011-05-19 00:00:00', 'Ullevålsveien 14', 'Oslo', 'NA', 'Norway', '0171', 1.98)
(198, '2011-05-20 00:00:00', 'Rilská 3174/6', 'Prague', 'NA', 'Czech Republic', '14300', 3.96)
(199, '2011-05-21 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 5.94)
(200, '2011-05-24 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 8.91)
(201, '2011-05-29 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 18.86)
(202, '2011-06-06 00:00:00', '4, Rue Milton', 'Paris', 'NA', 'France', '75009', 1.99)
(203, '2011-06-19 00:00:00', '8, Rue Hanovre', 'Paris', 'NA', 'France', '75002', 2.98)
(204, '2011-06-19 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'NA', 'France', '33000', 3.98)
(205, '2011-06-20 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'NA', 'Finland', '00530', 7.96)
(206, '2011-06-21 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 8.94)
(207, '2011-06-24 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'NA', 'United Kingdom', 'EH4 1HH', 8.91)
(208, '2011-06-29 00:00:00', 'Ullevålsveien 14', 'Oslo', 'NA', 'Norway', '0171', 15.86)
(209, '2011-07-07 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 0.99)
(210, '2011-07-20 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 1.98)
(211, '2011-07-20 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 1.98)

In [65]:
# Transform
#CUSTOMERS
#Crear la consulta que haga el cambio en la tabla customers cambiando los NULL con NA

with engine.connect() as con:
    
    rs = con.execute("""SELECT CustomerId,FirstName,LastName,
       CASE
           WHEN Company is NOT NULL then Company
       ELSE 'NA'
       END
       Company,Address,City,
       CASE
           WHEN State is NOT NULL then State
       ELSE 'NA'
        END
       State,Country,
       CASE
           WHEN PostalCode is NOT NULL then PostalCode
       ELSE 'NA'
        END
       PostalCode,
       Phone,
        CASE
           WHEN Fax is NOT NULL then Fax
       ELSE 'NA'
        END
       Fax,Email
      
  FROM customers;""")
    
    for row in rs:
        print(row)
        
con.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br')
(2, 'Leonie', 'Köhler', 'NA', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'NA', 'Germany', '70174', '+49 0711 2842222', 'NA', 'leonekohler@surfeu.de')
(3, 'François', 'Tremblay', 'NA', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', 'NA', 'ftremblay@gmail.com')
(4, 'Bjørn', 'Hansen', 'NA', 'Ullevålsveien 14', 'Oslo', 'NA', 'Norway', '0171', '+47 22 44 22 22', 'NA', 'bjorn.hansen@yahoo.no')
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', 'NA', 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com')
(6, 'Helena', 'Holý', 'NA', 'Rilská 3174/6', 'Prague', 'NA', 'Czech Republic', '14300', '+420 2 4177 0449', 'NA', 'hholy@gmail.com')
(7, 'Astrid', 'Gruber', 'NA', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'NA', 'Austria', '1010', '+43 01 5134505', 'NA', 'astrid.gruber@apple.at')
(8, 'Daan', 'Peeters', 'NA', 'Grétrystraat 63', 'Brussels', 'NA', 'Belgium', '1000', '+32 02 219 03 03', 'NA', 'daan_peeters@apple.be')
(9, 'Kara', 'Nielsen', 'NA', 'Sønder Boulevard 51', 'Copenhagen', 'NA', 'Denmark', '1720', '+453 3331 9991', 'NA', 'kara.nielsen@jubii.dk')
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br')
(11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', '+55 (11) 3055-3278', '+55 (11) 3055-8131', 'alero@uol.com.br')
(12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', '+55 (21) 2271-7000', '+55 (21) 2271-7070', 'roberto.almeida@riotur.gov.br')
(13, 'Fernanda', 'Ramos', 'NA', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br')
(14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', '+1 (780) 434-4554', '+1 (780) 434-5565', 'mphilips12@shaw.ca')
(15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', '+1 (604) 688-2255', '+1 (604) 688-8756', 'jenniferp@rogers.ca')
(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com')
(17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com')
(18, 'Michelle', 'Brooks', 'NA', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com')
(19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com')
(20, 'Dan', 'Miller', 'NA', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', 'NA', 'dmiller@comcast.com')
(21, 'Kathy', 'Chase', 'NA', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', 'NA', 'kachase@hotmail.com')
(22, 'Heather', 'Leacock', 'NA', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', 'NA', 'hleacock@gmail.com')
(23, 'John', 'Gordon', 'NA', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', 'NA', 'johngordon22@yahoo.com')
(24, 'Frank', 'Ralston', 'NA', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', 'NA', 'fralston@gmail.com')
(25, 'Victor', 'Stevens', 'NA', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', 'NA', 'vstevens@yahoo.com')
(26, 'Richard', 'Cunningham', 'NA', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', 'NA', 'ricunningham@hotmail.com')
(27, 'Patrick', 'Gray', 'NA', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', 'NA', 'patrick.gray@aol.com')
(28, 'Julia', 'Barnett', 'NA', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', 'NA', 'jubarnett@gmail.com')
(29, 'Robert', 'Brown', 'NA', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', '+1 (416) 363-8888', 'NA', 'robbrown@shaw.ca')
(30, 'Edward', 'Francis', 'NA', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', '+1 (613) 234-3322', 'NA', 'edfrancis@yachoo.ca')
(31, 'Martha', 'Silk', 'NA', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', '+1 (902) 450-0450', 'NA', 'marthasilk@gmail.com')
(32, 'Aaron', 'Mitchell', 'NA', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', '+1 (204) 452-6452', 'NA', 'aaronmitchell@yahoo.ca')
(33, 'Ellie', 'Sullivan', 'NA', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', '+1 (867) 920-2233', 'NA', 'ellie.sullivan@shaw.ca')
(34, 'João', 'Fernandes', 'NA', 'Rua da Assunção 53', 'Lisbon', 'NA', 'Portugal', 'NA', '+351 (213) 466-111', 'NA', 'jfernandes@yahoo.pt')
(35, 'Madalena', 'Sampaio', 'NA', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'NA', 'Portugal', 'NA', '+351 (225) 022-448', 'NA', 'masampaio@sapo.pt')
(36, 'Hannah', 'Schneider', 'NA', 'Tauentzienstraße 8', 'Berlin', 'NA', 'Germany', '10789', '+49 030 26550280', 'NA', 'hannah.schneider@yahoo.de')
(37, 'Fynn', 'Zimmermann', 'NA', 'Berger Straße 10', 'Frankfurt', 'NA', 'Germany', '60316', '+49 069 40598889', 'NA', 'fzimmermann@yahoo.de')
(38, 'Niklas', 'Schröder', 'NA', 'Barbarossastraße 19', 'Berlin', 'NA', 'Germany', '10779', '+49 030 2141444', 'NA', 'nschroder@surfeu.de')
(39, 'Camille', 'Bernard', 'NA', '4, Rue Milton', 'Paris', 'NA', 'France', '75009', '+33 01 49 70 65 65', 'NA', 'camille.bernard@yahoo.fr')
(40, 'Dominique', 'Lefebvre', 'NA', '8, Rue Hanovre', 'Paris', 'NA', 'France', '75002', '+33 01 47 42 71 71', 'NA', 'dominiquelefebvre@gmail.com')
(41, 'Marc', 'Dubois', 'NA', '11, Place Bellecour', 'Lyon', 'NA', 'France', '69002', '+33 04 78 30 30 30', 'NA', 'marc.dubois@hotmail.com')
(42, 'Wyatt', 'Girard', 'NA', '9, Place Louis Barthou', 'Bordeaux', 'NA', 'France', '33000', '+33 05 56 96 96 96', 'NA', 'wyatt.girard@yahoo.fr')
(43, 'Isabelle', 'Mercier', 'NA', '68, Rue Jouvence', 'Dijon', 'NA', 'France', '21000', '+33 03 80 73 66 99', 'NA', 'isabelle_mercier@apple.fr')
(44, 'Terhi', 'Hämäläinen', 'NA', 'Porthaninkatu 9', 'Helsinki', 'NA', 'Finland', '00530', '+358 09 870 2000', 'NA', 'terhi.hamalainen@apple.fi')
(45, 'Ladislav', 'Kovács', 'NA', 'Erzsébet krt. 58.', 'Budapest', 'NA', 'Hungary', 'H-1073', None, 'NA', 'ladislav_kovacs@apple.hu')
(46, 'Hugh', "O'Reilly", 'NA', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', 'NA', '+353 01 6792424', 'NA', 'hughoreilly@apple.ie')
(47, 'Lucas', 'Mancini', 'NA', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', '+39 06 39733434', 'NA', 'lucas.mancini@yahoo.it')
(48, 'Johannes', 'Van der Berg', 'NA', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', '+31 020 6223130', 'NA', 'johavanderberg@yahoo.nl')
(49, 'Stanisław', 'Wójcik', 'NA', 'Ordynacka 10', 'Warsaw', 'NA', 'Poland', '00-358', '+48 22 828 37 39', 'NA', 'stanisław.wójcik@wp.pl')
(50, 'Enrique', 'Muñoz', 'NA', 'C/ San Bernardo 85', 'Madrid', 'NA', 'Spain', '28015', '+34 914 454 454', 'NA', 'enrique_munoz@yahoo.es')
(51, 'Joakim', 'Johansson', 'NA', 'Celsiusg. 9', 'Stockholm', 'NA', 'Sweden', '11230', '+46 08-651 52 52', 'NA', 'joakim.johansson@yahoo.se')
(52, 'Emma', 'Jones', 'NA', '202 Hoxton Street', 'London', 'NA', 'United Kingdom', 'N1 5LH', '+44 020 7707 0707', 'NA', 'emma_jones@hotmail.com')
(53, 'Phil', 'Hughes', 'NA', '113 Lupus St', 'London', 'NA', 'United Kingdom', 'SW1V 3EN', '+44 020 7976 5722', 'NA', 'phil.hughes@gmail.com')
(54, 'Steve', 'Murray', 'NA', '110 Raeburn Pl', 'Edinburgh ', 'NA', 'United Kingdom', 'EH4 1HH', '+44 0131 315 3300', 'NA', 'steve.murray@yahoo.uk')
(55, 'Mark', 'Taylor', 'NA', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', '+61 (02) 9332 3633', 'NA', 'mark.taylor@yahoo.au')
(56, 'Diego', 'Gutiérrez', 'NA', '307 Macacha Güemes', 'Buenos Aires', 'NA', 'Argentina', '1106', '+54 (0)11 4311 4333', 'NA', 'diego.gutierrez@yahoo.ar')
(57, 'Luis', 'Rojas', 'NA', 'Calle Lira, 198', 'Santiago', 'NA', 'Chile', 'NA', '+56 (0)2 635 4444', 'NA', 'luisrojas@yahoo.cl')
(58, 'Manoj', 'Pareek', 'NA', '12,Community Centre', 'Delhi', 'NA', 'India', '110017', '+91 0124 39883988', 'NA', 'manoj.pareek@rediff.com')
(59, 'Puja', 'Srivastava', 'NA', '3,Raj Bhavan Road', 'Bangalore', 'NA', 'India', '560001', '+91 080 22289999', 'NA', 'puja_srivastava@yahoo.in')

In [66]:
#TABLA INVOICES_ITEMS
with engine.connect() as con:
    
    rs = con.execute('SELECT InvoiceLineId,UnitPrice,Quantity FROM invoice_items;')
    
    for row in rs:
        print(row)
        
con.close()

(1, 0.99, 1)
(2, 0.99, 1)
(3, 0.99, 1)
(4, 0.99, 1)
(5, 0.99, 1)
(6, 0.99, 1)
(7, 0.99, 1)
(8, 0.99, 1)
(9, 0.99, 1)
(10, 0.99, 1)
(11, 0.99, 1)
(12, 0.99, 1)
(13, 0.99, 1)
(14, 0.99, 1)
(15, 0.99, 1)
(16, 0.99, 1)
(17, 0.99, 1)
(18, 0.99, 1)
(19, 0.99, 1)
(20, 0.99, 1)
(21, 0.99, 1)
(22, 0.99, 1)
(23, 0.99, 1)
(24, 0.99, 1)
(25, 0.99, 1)
(26, 0.99, 1)
(27, 0.99, 1)
(28, 0.99, 1)
(29, 0.99, 1)
(30, 0.99, 1)
(31, 0.99, 1)
(32, 0.99, 1)
(33, 0.99, 1)
(34, 0.99, 1)
(35, 0.99, 1)
(36, 0.99, 1)
(37, 0.99, 1)
(38, 0.99, 1)
(39, 0.99, 1)
(40, 0.99, 1)
(41, 0.99, 1)
(42, 0.99, 1)
(43, 0.99, 1)
(44, 0.99, 1)
(45, 0.99, 1)
(46, 0.99, 1)
(47, 0.99, 1)
(48, 0.99, 1)
(49, 0.99, 1)
(50, 0.99, 1)
(51, 0.99, 1)
(52, 0.99, 1)
(53, 0.99, 1)
(54, 0.99, 1)
(55, 0.99, 1)
(56, 0.99, 1)
(57, 0.99, 1)
(58, 0.99, 1)
(59, 0.99, 1)
(60, 0.99, 1)
(61, 0.99, 1)
(62, 0.99, 1)
(63, 0.99, 1)
(64, 0.99, 1)
(65, 0.99, 1)
(66, 0.99, 1)
(67, 0.99, 1)
(68, 0.99, 1)
(69, 0.99, 1)
(70, 0.99, 1)
(71, 0.99, 1)
(72, 0.99, 1)
(73, 0.99, 1)
(74, 0.99, 1)
(75, 0.99, 1)
(76, 0.99, 1)
(77, 0.99, 1)
(78, 0.99, 1)
(79, 0.99, 1)
(80, 0.99, 1)
(81, 0.99, 1)
(82, 0.99, 1)
(83, 0.99, 1)
(84, 0.99, 1)
(85, 0.99, 1)
(86, 0.99, 1)
(87, 0.99, 1)
(88, 0.99, 1)
(89, 0.99, 1)
(90, 0.99, 1)
(91, 0.99, 1)
(92, 0.99, 1)
(93, 0.99, 1)
(94, 0.99, 1)
(95, 0.99, 1)
(96, 0.99, 1)
(97, 0.99, 1)
(98, 0.99, 1)
(99, 0.99, 1)
(100, 0.99, 1)
(101, 0.99, 1)
(102, 0.99, 1)
(103, 0.99, 1)
(104, 0.99, 1)
(105, 0.99, 1)
(106, 0.99, 1)
(107, 0.99, 1)
(108, 0.99, 1)
(109, 0.99, 1)
(110, 0.99, 1)
(111, 0.99, 1)
(112, 0.99, 1)
(113, 0.99, 1)
(114, 0.99, 1)
(115, 0.99, 1)
(116, 0.99, 1)
(117, 0.99, 1)
(118, 0.99, 1)
(119, 0.99, 1)
(120, 0.99, 1)
(121, 0.99, 1)
(122, 0.99, 1)
(123, 0.99, 1)
(124, 0.99, 1)
(125, 0.99, 1)
(126, 0.99, 1)
(127, 0.99, 1)
(128, 0.99, 1)
(129, 0.99, 1)
(130, 0.99, 1)
(131, 0.99, 1)
(132, 0.99, 1)
(133, 0.99, 1)
(134, 0.99, 1)
(135, 0.99, 1)
(136, 0.99, 1)
(137, 0.99, 1)
(138, 0.99, 1)
(139, 0.99, 1)
(140, 0.99, 1)
(141, 0.99, 1)
(142, 0.99, 1)
(143, 0.99, 1)
(144, 0.99, 1)
(145, 0.99, 1)
(146, 0.99, 1)
(147, 0.99, 1)
(148, 0.99, 1)
(149, 0.99, 1)
(150, 0.99, 1)
(151, 0.99, 1)
(152, 0.99, 1)
(153, 0.99, 1)
(154, 0.99, 1)
(155, 0.99, 1)
(156, 0.99, 1)
(157, 0.99, 1)
(158, 0.99, 1)
(159, 0.99, 1)
(160, 0.99, 1)
(161, 0.99, 1)
(162, 0.99, 1)
(163, 0.99, 1)
(164, 0.99, 1)
(165, 0.99, 1)
(166, 0.99, 1)
(167, 0.99, 1)
(168, 0.99, 1)
(169, 0.99, 1)
(170, 0.99, 1)
(171, 0.99, 1)
(172, 0.99, 1)
(173, 0.99, 1)
(174, 0.99, 1)
(175, 0.99, 1)
(176, 0.99, 1)
(177, 0.99, 1)
(178, 0.99, 1)
(179, 0.99, 1)
(180, 0.99, 1)
(181, 0.99, 1)
(182, 0.99, 1)
(183, 0.99, 1)
(184, 0.99, 1)
(185, 0.99, 1)
(186, 0.99, 1)
(187, 0.99, 1)
(188, 0.99, 1)
(189, 0.99, 1)
(190, 0.99, 1)
(191, 0.99, 1)
(192, 0.99, 1)
(193, 0.99, 1)
(194, 0.99, 1)
(195, 0.99, 1)
(196, 0.99, 1)
(197, 0.99, 1)
(198, 0.99, 1)
(199, 0.99, 1)
(200, 0.99, 1)
(201, 0.99, 1)
(202, 0.99, 1)
(203, 0.99, 1)
(204, 0.99, 1)
(205, 0.99, 1)
(206, 0.99, 1)
(207, 0.99, 1)
(208, 0.99, 1)
(209, 0.99, 1)
(210, 0.99, 1)
(211, 0.99, 1)
(212, 0.99, 1)
(213, 0.99, 1)
(214, 0.99, 1)
(215, 0.99, 1)
(216, 0.99, 1)
(217, 0.99, 1)
(218, 0.99, 1)
(219, 0.99, 1)
(220, 0.99, 1)
(221, 0.99, 1)
(222, 0.99, 1)
(223, 0.99, 1)
(224, 0.99, 1)
(225, 0.99, 1)
(226, 0.99, 1)
(227, 0.99, 1)
(228, 0.99, 1)
(229, 0.99, 1)
(230, 0.99, 1)
(231, 0.99, 1)
(232, 0.99, 1)
(233, 0.99, 1)
(234, 0.99, 1)
(235, 0.99, 1)
(236, 0.99, 1)
(237, 0.99, 1)
(238, 0.99, 1)
(239, 0.99, 1)
(240, 0.99, 1)
(241, 0.99, 1)
(242, 0.99, 1)
(243, 0.99, 1)
(244, 0.99, 1)
(245, 0.99, 1)
(246, 0.99, 1)
(247, 0.99, 1)
(248, 0.99, 1)
(249, 0.99, 1)
(250, 0.99, 1)
(251, 0.99, 1)
(252, 0.99, 1)
(253, 0.99, 1)
(254, 0.99, 1)
(255, 0.99, 1)
(256, 0.99, 1)
(257, 0.99, 1)
(258, 0.99, 1)
(259, 0.99, 1)
(260, 0.99, 1)
(261, 0.99, 1)
(262, 0.99, 1)
(263, 0.99, 1)
(264, 0.99, 1)
(265, 0.99, 1)
(266, 0.99, 1)
(267, 0.99, 1)
(268, 0.99, 1)
(269, 0.99, 1)
(270, 0.99, 1)
(271, 0.99, 1)
(272, 0.99, 1)
(273, 0.99, 1)
(274, 0.99, 1)
(275, 0.99, 1)
(276, 0.99, 1)
(277, 0.99, 1)
(278, 0.99, 1)
(279, 0.99, 1)
(280, 0.99, 1)
(281, 0.99, 1)
(282, 0.99, 1)
(283, 0.99, 1)
(284, 0.99, 1)
(285, 0.99, 1)
(286, 0.99, 1)
(287, 0.99, 1)
(288, 0.99, 1)
(289, 0.99, 1)
(290, 0.99, 1)
(291, 0.99, 1)
(292, 0.99, 1)
(293, 0.99, 1)
(294, 0.99, 1)
(295, 0.99, 1)
(296, 0.99, 1)
(297, 0.99, 1)
(298, 0.99, 1)
(299, 0.99, 1)
(300, 0.99, 1)
(301, 0.99, 1)
(302, 0.99, 1)
(303, 0.99, 1)
(304, 0.99, 1)
(305, 0.99, 1)
(306, 0.99, 1)
(307, 0.99, 1)
(308, 0.99, 1)
(309, 0.99, 1)
(310, 0.99, 1)
(311, 0.99, 1)
(312, 0.99, 1)
(313, 0.99, 1)
(314, 0.99, 1)
(315, 0.99, 1)
(316, 0.99, 1)
(317, 0.99, 1)
(318, 0.99, 1)
(319, 0.99, 1)
(320, 0.99, 1)
(321, 0.99, 1)
(322, 0.99, 1)
(323, 0.99, 1)
(324, 0.99, 1)
(325, 0.99, 1)
(326, 0.99, 1)
(327, 0.99, 1)
(328, 0.99, 1)
(329, 0.99, 1)
(330, 0.99, 1)
(331, 0.99, 1)
(332, 0.99, 1)
(333, 0.99, 1)
(334, 0.99, 1)
(335, 0.99, 1)
(336, 0.99, 1)
(337, 0.99, 1)
(338, 0.99, 1)
(339, 0.99, 1)
(340, 0.99, 1)
(341, 0.99, 1)
(342, 0.99, 1)
(343, 0.99, 1)
(344, 0.99, 1)
(345, 0.99, 1)
(346, 0.99, 1)
(347, 0.99, 1)
(348, 0.99, 1)
(349, 0.99, 1)
(350, 0.99, 1)
(351, 0.99, 1)
(352, 0.99, 1)
(353, 0.99, 1)
(354, 0.99, 1)
(355, 0.99, 1)
(356, 0.99, 1)
(357, 0.99, 1)
(358, 0.99, 1)
(359, 0.99, 1)
(360, 0.99, 1)
(361, 0.99, 1)
(362, 0.99, 1)
(363, 0.99, 1)
(364, 0.99, 1)
(365, 0.99, 1)
(366, 0.99, 1)
(367, 0.99, 1)
(368, 0.99, 1)
(369, 0.99, 1)
(370, 0.99, 1)
(371, 0.99, 1)
(372, 0.99, 1)
(373, 0.99, 1)
(374, 0.99, 1)
(375, 0.99, 1)
(376, 0.99, 1)
(377, 0.99, 1)
(378, 0.99, 1)
(379, 0.99, 1)
(380, 0.99, 1)
(381, 0.99, 1)
(382, 0.99, 1)
(383, 0.99, 1)
(384, 0.99, 1)
(385, 0.99, 1)
(386, 0.99, 1)
(387, 0.99, 1)
(388, 0.99, 1)
(389, 0.99, 1)
(390, 0.99, 1)
(391, 0.99, 1)
(392, 0.99, 1)
(393, 0.99, 1)
(394, 0.99, 1)
(395, 0.99, 1)
(396, 0.99, 1)
(397, 0.99, 1)
(398, 0.99, 1)
(399, 0.99, 1)
(400, 0.99, 1)
(401, 0.99, 1)
(402, 0.99, 1)
(403, 0.99, 1)
(404, 0.99, 1)
(405, 0.99, 1)
(406, 0.99, 1)
(407, 0.99, 1)
(408, 0.99, 1)
(409, 0.99, 1)
(410, 0.99, 1)
(411, 0.99, 1)
(412, 0.99, 1)
(413, 0.99, 1)
(414, 0.99, 1)
(415, 0.99, 1)
(416, 0.99, 1)
(417, 0.99, 1)
(418, 0.99, 1)
(419, 0.99, 1)
(420, 0.99, 1)
(421, 0.99, 1)
(422, 0.99, 1)
(423, 0.99, 1)
(424, 0.99, 1)
(425, 0.99, 1)
(426, 0.99, 1)
(427, 0.99, 1)
(428, 0.99, 1)
(429, 0.99, 1)
(430, 0.99, 1)
(431, 0.99, 1)
(432, 0.99, 1)
(433, 0.99, 1)
(434, 0.99, 1)
(435, 0.99, 1)
(436, 0.99, 1)
(437, 0.99, 1)
(438, 0.99, 1)
(439, 0.99, 1)
(440, 0.99, 1)
(441, 0.99, 1)
(442, 0.99, 1)
(443, 0.99, 1)
(444, 0.99, 1)
(445, 0.99, 1)
(446, 0.99, 1)
(447, 0.99, 1)
(448, 0.99, 1)
(449, 0.99, 1)
(450, 0.99, 1)
(451, 0.99, 1)
(452, 0.99, 1)
(453, 0.99, 1)
(454, 0.99, 1)
(455, 0.99, 1)
(456, 0.99, 1)
(457, 0.99, 1)
(458, 0.99, 1)
(459, 0.99, 1)
(460, 0.99, 1)
(461, 0.99, 1)
(462, 0.99, 1)
(463, 0.99, 1)
(464, 0.99, 1)
(465, 0.99, 1)
(466, 0.99, 1)
(467, 0.99, 1)
(468, 1.99, 1)
(469, 1.99, 1)
(470, 1.99, 1)
(471, 1.99, 1)
(472, 1.99, 1)
(473, 1.99, 1)
(474, 1.99, 1)
(475, 1.99, 1)
(476, 1.99, 1)
(477, 1.99, 1)
(478, 1.99, 1)
(479, 1.99, 1)
(480, 1.99, 1)
(481, 1.99, 1)
(482, 1.99, 1)
(483, 0.99, 1)
(484, 0.99, 1)
(485, 0.99, 1)
(486, 0.99, 1)
(487, 0.99, 1)
(488, 0.99, 1)
(489, 0.99, 1)
(490, 0.99, 1)
(491, 0.99, 1)
(492, 0.99, 1)
(493, 0.99, 1)
(494, 0.99, 1)
(495, 0.99, 1)
(496, 0.99, 1)
(497, 0.99, 1)
(498, 0.99, 1)
(499, 0.99, 1)
(500, 0.99, 1)
(501, 0.99, 1)
(502, 0.99, 1)
(503, 0.99, 1)
(504, 0.99, 1)
(505, 0.99, 1)
(506, 0.99, 1)
(507, 0.99, 1)
(508, 0.99, 1)
(509, 0.99, 1)
(510, 0.99, 1)
(511, 0.99, 1)
(512, 0.99, 1)
(513, 0.99, 1)
(514, 0.99, 1)
(515, 0.99, 1)
(516, 0.99, 1)
(517, 0.99, 1)
(518, 0.99, 1)
(519, 0.99, 1)
(520, 0.99, 1)
(521, 0.99, 1)
(522, 1.99, 1)
(523, 1.99, 1)
(524, 1.99, 1)
(525, 1.99, 1)
(526, 1.99, 1)
(527, 1.99, 1)
(528, 1.99, 1)
(529, 1.99, 1)
(530, 1.99, 1)
(531, 1.99, 1)
(532, 1.99, 1)
(533, 1.99, 1)
(534, 1.99, 1)
(535, 0.99, 1)
(536, 0.99, 1)
(537, 0.99, 1)
(538, 0.99, 1)
(539, 0.99, 1)
(540, 0.99, 1)
(541, 0.99, 1)
(542, 0.99, 1)
(543, 0.99, 1)
(544, 0.99, 1)
(545, 0.99, 1)
(546, 0.99, 1)
(547, 0.99, 1)
(548, 0.99, 1)
(549, 0.99, 1)
(550, 0.99, 1)
(551, 0.99, 1)
(552, 0.99, 1)
(553, 1.99, 1)
(554, 1.99, 1)
(555, 0.99, 1)
(556, 0.99, 1)
(557, 0.99, 1)
(558, 0.99, 1)
(559, 0.99, 1)
(560, 0.99, 1)
(561, 0.99, 1)
(562, 0.99, 1)
(563, 1.99, 1)
(564, 0.99, 1)
(565, 0.99, 1)
(566, 0.99, 1)
(567, 0.99, 1)
(568, 0.99, 1)
(569, 0.99, 1)
(570, 0.99, 1)
(571, 0.99, 1)
(572, 0.99, 1)
(573, 0.99, 1)
(574, 0.99, 1)
(575, 0.99, 1)
(576, 0.99, 1)
(577, 0.99, 1)
(578, 0.99, 1)
(579, 0.99, 1)
(580, 0.99, 1)
(581, 0.99, 1)
(582, 0.99, 1)
(583, 0.99, 1)
(584, 0.99, 1)
(585, 0.99, 1)
(586, 0.99, 1)
(587, 0.99, 1)
(588, 0.99, 1)
(589, 0.99, 1)
(590, 0.99, 1)
(591, 0.99, 1)
(592, 0.99, 1)
(593, 0.99, 1)
(594, 0.99, 1)
(595, 0.99, 1)
(596, 0.99, 1)
(597, 0.99, 1)
(598, 0.99, 1)
(599, 0.99, 1)
(600, 0.99, 1)
(601, 0.99, 1)
(602, 0.99, 1)
(603, 0.99, 1)
(604, 0.99, 1)
(605, 0.99, 1)
(606, 0.99, 1)
(607, 0.99, 1)
(608, 0.99, 1)
(609, 0.99, 1)
(610, 0.99, 1)
(611, 0.99, 1)
(612, 0.99, 1)
(613, 0.99, 1)
(614, 0.99, 1)
(615, 0.99, 1)
(616, 0.99, 1)
(617, 0.99, 1)
(618, 0.99, 1)
(619, 0.99, 1)
(620, 0.99, 1)
(621, 0.99, 1)
(622, 0.99, 1)
(623, 0.99, 1)
(624, 0.99, 1)
(625, 0.99, 1)
(626, 0.99, 1)
(627, 0.99, 1)
(628, 0.99, 1)
(629, 0.99, 1)
(630, 0.99, 1)
(631, 0.99, 1)
(632, 0.99, 1)
(633, 0.99, 1)
(634, 0.99, 1)
(635, 0.99, 1)
(636, 0.99, 1)
(637, 0.99, 1)
(638, 0.99, 1)
(639, 0.99, 1)
(640, 0.99, 1)
(641, 0.99, 1)
(642, 0.99, 1)
(643, 0.99, 1)
(644, 0.99, 1)
(645, 0.99, 1)
(646, 0.99, 1)
(647, 0.99, 1)
(648, 0.99, 1)
(649, 0.99, 1)
(650, 0.99, 1)
(651, 0.99, 1)
(652, 0.99, 1)
(653, 0.99, 1)
(654, 0.99, 1)
(655, 0.99, 1)
(656, 0.99, 1)
(657, 0.99, 1)
(658, 0.99, 1)
(659, 0.99, 1)
(660, 0.99, 1)
(661, 0.99, 1)
(662, 0.99, 1)
(663, 0.99, 1)
(664, 0.99, 1)
(665, 0.99, 1)
(666, 0.99, 1)
(667, 0.99, 1)
(668, 0.99, 1)
(669, 0.99, 1)
(670, 0.99, 1)
(671, 0.99, 1)
(672, 0.99, 1)
(673, 0.99, 1)
(674, 0.99, 1)
(675, 0.99, 1)
(676, 0.99, 1)
(677, 0.99, 1)
(678, 0.99, 1)
(679, 0.99, 1)
(680, 0.99, 1)
(681, 0.99, 1)
(682, 0.99, 1)
(683, 0.99, 1)
(684, 0.99, 1)
(685, 0.99, 1)
(686, 0.99, 1)
(687, 0.99, 1)
(688, 0.99, 1)
(689, 0.99, 1)
(690, 0.99, 1)
(691, 0.99, 1)
(692, 0.99, 1)
(693, 0.99, 1)
(694, 0.99, 1)
(695, 0.99, 1)
(696, 0.99, 1)
(697, 0.99, 1)
(698, 0.99, 1)
(699, 0.99, 1)
(700, 0.99, 1)
(701, 0.99, 1)
(702, 0.99, 1)
(703, 0.99, 1)
(704, 0.99, 1)
(705, 0.99, 1)
(706, 0.99, 1)
(707, 0.99, 1)
(708, 0.99, 1)
(709, 0.99, 1)
(710, 0.99, 1)
(711, 0.99, 1)
(712, 0.99, 1)
(713, 0.99, 1)
(714, 0.99, 1)
(715, 0.99, 1)
(716, 0.99, 1)
(717, 0.99, 1)
(718, 0.99, 1)
(719, 0.99, 1)
(720, 0.99, 1)
(721, 0.99, 1)
(722, 0.99, 1)
(723, 0.99, 1)
(724, 0.99, 1)
(725, 0.99, 1)
(726, 0.99, 1)
(727, 0.99, 1)
(728, 0.99, 1)
(729, 0.99, 1)
(730, 0.99, 1)
(731, 0.99, 1)
(732, 0.99, 1)
(733, 0.99, 1)
(734, 0.99, 1)
(735, 0.99, 1)
(736, 0.99, 1)
(737, 0.99, 1)
(738, 0.99, 1)
(739, 0.99, 1)
(740, 0.99, 1)
(741, 0.99, 1)
(742, 0.99, 1)
(743, 0.99, 1)
(744, 0.99, 1)
(745, 0.99, 1)
(746, 0.99, 1)
(747, 0.99, 1)
(748, 0.99, 1)
(749, 0.99, 1)
(750, 0.99, 1)
(751, 0.99, 1)
(752, 0.99, 1)
(753, 0.99, 1)
(754, 0.99, 1)
(755, 0.99, 1)
(756, 0.99, 1)
(757, 0.99, 1)
(758, 0.99, 1)
(759, 0.99, 1)
(760, 0.99, 1)
(761, 0.99, 1)
(762, 0.99, 1)
(763, 0.99, 1)
(764, 0.99, 1)
(765, 0.99, 1)
(766, 0.99, 1)
(767, 0.99, 1)
(768, 0.99, 1)
(769, 0.99, 1)
(770, 0.99, 1)
(771, 0.99, 1)
(772, 0.99, 1)
(773, 0.99, 1)
(774, 0.99, 1)
(775, 0.99, 1)
(776, 0.99, 1)
(777, 0.99, 1)
(778, 0.99, 1)
(779, 0.99, 1)
(780, 0.99, 1)
(781, 0.99, 1)
(782, 0.99, 1)
(783, 0.99, 1)
(784, 0.99, 1)
(785, 0.99, 1)
(786, 0.99, 1)
(787, 0.99, 1)
(788, 0.99, 1)
(789, 0.99, 1)
(790, 0.99, 1)
(791, 0.99, 1)
(792, 0.99, 1)
(793, 0.99, 1)
(794, 0.99, 1)
(795, 0.99, 1)
(796, 0.99, 1)
(797, 0.99, 1)
(798, 0.99, 1)
(799, 0.99, 1)
(800, 0.99, 1)
(801, 0.99, 1)
(802, 0.99, 1)
(803, 0.99, 1)
(804, 0.99, 1)
(805, 0.99, 1)
(806, 0.99, 1)
(807, 0.99, 1)
(808, 0.99, 1)
(809, 0.99, 1)
(810, 0.99, 1)
(811, 0.99, 1)
(812, 0.99, 1)
(813, 0.99, 1)
(814, 0.99, 1)
(815, 0.99, 1)
(816, 0.99, 1)
(817, 0.99, 1)
(818, 0.99, 1)
(819, 0.99, 1)
(820, 0.99, 1)
(821, 0.99, 1)
(822, 0.99, 1)
(823, 0.99, 1)
(824, 0.99, 1)
(825, 0.99, 1)
(826, 0.99, 1)
(827, 0.99, 1)
(828, 0.99, 1)
(829, 0.99, 1)
(830, 0.99, 1)
(831, 0.99, 1)
(832, 0.99, 1)
(833, 0.99, 1)
(834, 0.99, 1)
(835, 0.99, 1)
(836, 0.99, 1)
(837, 0.99, 1)
(838, 0.99, 1)
(839, 0.99, 1)
(840, 0.99, 1)
(841, 0.99, 1)
(842, 0.99, 1)
(843, 0.99, 1)
(844, 0.99, 1)
(845, 0.99, 1)
(846, 0.99, 1)
(847, 0.99, 1)
(848, 0.99, 1)
(849, 0.99, 1)
(850, 0.99, 1)
(851, 0.99, 1)
(852, 0.99, 1)
(853, 0.99, 1)
(854, 0.99, 1)
(855, 0.99, 1)
(856, 0.99, 1)
(857, 0.99, 1)
(858, 0.99, 1)
(859, 0.99, 1)
(860, 0.99, 1)
(861, 0.99, 1)
(862, 0.99, 1)
(863, 0.99, 1)
(864, 0.99, 1)
(865, 0.99, 1)
(866, 0.99, 1)
(867, 0.99, 1)
(868, 0.99, 1)
(869, 0.99, 1)
(870, 0.99, 1)
(871, 0.99, 1)
(872, 0.99, 1)
(873, 0.99, 1)
(874, 0.99, 1)
(875, 0.99, 1)
(876, 0.99, 1)
(877, 0.99, 1)
(878, 0.99, 1)
(879, 0.99, 1)
(880, 0.99, 1)
(881, 0.99, 1)
(882, 0.99, 1)
(883, 0.99, 1)
(884, 0.99, 1)
(885, 0.99, 1)
(886, 0.99, 1)
(887, 0.99, 1)
(888, 0.99, 1)
(889, 0.99, 1)
(890, 0.99, 1)
(891, 0.99, 1)
(892, 0.99, 1)
(893, 0.99, 1)
(894, 0.99, 1)
(895, 0.99, 1)
(896, 0.99, 1)
(897, 0.99, 1)
(898, 0.99, 1)
(899, 0.99, 1)
(900, 0.99, 1)
(901, 0.99, 1)
(902, 0.99, 1)
(903, 0.99, 1)
(904, 0.99, 1)
(905, 0.99, 1)
(906, 0.99, 1)
(907, 0.99, 1)
(908, 0.99, 1)
(909, 0.99, 1)
(910, 0.99, 1)
(911, 0.99, 1)
(912, 0.99, 1)
(913, 0.99, 1)
(914, 0.99, 1)
(915, 0.99, 1)
(916, 0.99, 1)
(917, 0.99, 1)
(918, 0.99, 1)
(919, 0.99, 1)
(920, 0.99, 1)
(921, 0.99, 1)
(922, 0.99, 1)
(923, 0.99, 1)
(924, 0.99, 1)
(925, 0.99, 1)
(926, 0.99, 1)
(927, 0.99, 1)
(928, 0.99, 1)
(929, 0.99, 1)
(930, 0.99, 1)
(931, 0.99, 1)
(932, 0.99, 1)
(933, 0.99, 1)
(934, 0.99, 1)
(935, 0.99, 1)
(936, 0.99, 1)
(937, 0.99, 1)
(938, 0.99, 1)
(939, 0.99, 1)
(940, 0.99, 1)
(941, 0.99, 1)
(942, 0.99, 1)
(943, 0.99, 1)
(944, 0.99, 1)
(945, 0.99, 1)
(946, 0.99, 1)
(947, 0.99, 1)
(948, 0.99, 1)
(949, 0.99, 1)
(950, 0.99, 1)
(951, 0.99, 1)
(952, 0.99, 1)
(953, 0.99, 1)
(954, 0.99, 1)
(955, 0.99, 1)
(956, 0.99, 1)
(957, 0.99, 1)
(958, 0.99, 1)
(959, 0.99, 1)
(960, 0.99, 1)
(961, 0.99, 1)
(962, 0.99, 1)
(963, 0.99, 1)
(964, 0.99, 1)
(965, 0.99, 1)
(966, 0.99, 1)
(967, 0.99, 1)
(968, 0.99, 1)
(969, 0.99, 1)
(970, 0.99, 1)
(971, 0.99, 1)
(972, 0.99, 1)
(973, 0.99, 1)
(974, 0.99, 1)
(975, 0.99, 1)
(976, 0.99, 1)
(977, 0.99, 1)
(978, 0.99, 1)
(979, 0.99, 1)
(980, 0.99, 1)
(981, 0.99, 1)
(982, 0.99, 1)
(983, 0.99, 1)
(984, 0.99, 1)
(985, 0.99, 1)
(986, 0.99, 1)
(987, 0.99, 1)
(988, 0.99, 1)
(989, 0.99, 1)
(990, 0.99, 1)
(991, 0.99, 1)
(992, 0.99, 1)
(993, 0.99, 1)
(994, 0.99, 1)
(995, 0.99, 1)
(996, 0.99, 1)
(997, 0.99, 1)
(998, 0.99, 1)
(999, 0.99, 1)
(1000, 0.99, 1)
(1001, 0.99, 1)
(1002, 0.99, 1)
(1003, 0.99, 1)
(1004, 0.99, 1)
(1005, 0.99, 1)
(1006, 0.99, 1)
(1007, 0.99, 1)
(1008, 0.99, 1)
(1009, 0.99, 1)
(1010, 0.99, 1)
(1011, 0.99, 1)
(1012, 0.99, 1)
(1013, 0.99, 1)
(1014, 0.99, 1)
(1015, 0.99, 1)
(1016, 0.99, 1)
(1017, 0.99, 1)
(1018, 0.99, 1)
(1019, 0.99, 1)
(1020, 0.99, 1)
(1021, 0.99, 1)
(1022, 0.99, 1)
(1023, 0.99, 1)
(1024, 0.99, 1)
(1025, 0.99, 1)
(1026, 0.99, 1)
(1027, 0.99, 1)
(1028, 0.99, 1)
(1029, 0.99, 1)
(1030, 0.99, 1)
(1031, 0.99, 1)
(1032, 0.99, 1)
(1033, 0.99, 1)
(1034, 0.99, 1)
(1035, 0.99, 1)
(1036, 0.99, 1)
(1037, 0.99, 1)
(1038, 0.99, 1)
(1039, 0.99, 1)
(1040, 0.99, 1)
(1041, 0.99, 1)
(1042, 1.99, 1)
(1043, 1.99, 1)
(1044, 1.99, 1)
(1045, 1.99, 1)
(1046, 1.99, 1)
(1047, 1.99, 1)
(1048, 1.99, 1)
(1049, 1.99, 1)
(1050, 1.99, 1)
(1051, 1.99, 1)
(1052, 1.99, 1)
(1053, 1.99, 1)
(1054, 1.99, 1)
(1055, 1.99, 1)
(1056, 0.99, 1)
(1057, 0.99, 1)
(1058, 0.99, 1)
(1059, 0.99, 1)
(1060, 0.99, 1)
(1061, 0.99, 1)
(1062, 0.99, 1)
(1063, 0.99, 1)
(1064, 0.99, 1)
(1065, 0.99, 1)
(1066, 0.99, 1)
(1067, 0.99, 1)
(1068, 0.99, 1)
(1069, 0.99, 1)
(1070, 0.99, 1)
(1071, 0.99, 1)
(1072, 0.99, 1)
(1073, 0.99, 1)
(1074, 0.99, 1)
(1075, 0.99, 1)
(1076, 0.99, 1)
(1077, 0.99, 1)
(1078, 0.99, 1)
(1079, 0.99, 1)
(1080, 0.99, 1)
(1081, 0.99, 1)
(1082, 0.99, 1)
(1083, 0.99, 1)
(1084, 0.99, 1)
(1085, 0.99, 1)
(1086, 0.99, 1)
(1087, 0.99, 1)
(1088, 0.99, 1)
(1089, 0.99, 1)
(1090, 0.99, 1)
(1091, 0.99, 1)
(1092, 0.99, 1)
(1093, 0.99, 1)
(1094, 0.99, 1)
(1095, 1.99, 1)
(1096, 1.99, 1)
(1097, 1.99, 1)
(1098, 1.99, 1)
(1099, 1.99, 1)
(1100, 1.99, 1)
(1101, 1.99, 1)
(1102, 0.99, 1)
(1103, 1.99, 1)
(1104, 1.99, 1)
(1105, 1.99, 1)
(1106, 1.99, 1)
(1107, 1.99, 1)
(1108, 1.99, 1)
(1109, 1.99, 1)
(1110, 1.99, 1)
(1111, 1.99, 1)
(1112, 0.99, 1)
(1113, 0.99, 1)
(1114, 0.99, 1)
(1115, 0.99, 1)
(1116, 0.99, 1)
(1117, 0.99, 1)
(1118, 0.99, 1)
(1119, 0.99, 1)
(1120, 0.99, 1)
(1121, 0.99, 1)
(1122, 0.99, 1)
(1123, 0.99, 1)
(1124, 0.99, 1)
(1125, 0.99, 1)
(1126, 1.99, 1)
(1127, 0.99, 1)
(1128, 1.99, 1)
(1129, 0.99, 1)
(1130, 0.99, 1)
(1131, 0.99, 1)
(1132, 0.99, 1)
(1133, 0.99, 1)
(1134, 0.99, 1)
(1135, 0.99, 1)
(1136, 0.99, 1)
(1137, 0.99, 1)
(1138, 0.99, 1)
(1139, 0.99, 1)
(1140, 0.99, 1)
(1141, 0.99, 1)
(1142, 0.99, 1)
(1143, 0.99, 1)
(1144, 0.99, 1)
(1145, 0.99, 1)
(1146, 0.99, 1)
(1147, 0.99, 1)
(1148, 0.99, 1)
(1149, 0.99, 1)
(1150, 0.99, 1)
(1151, 0.99, 1)
(1152, 0.99, 1)
(1153, 0.99, 1)
(1154, 0.99, 1)
(1155, 0.99, 1)
(1156, 0.99, 1)
(1157, 0.99, 1)
(1158, 0.99, 1)
(1159, 0.99, 1)
(1160, 0.99, 1)
(1161, 0.99, 1)
(1162, 0.99, 1)
(1163, 0.99, 1)
(1164, 0.99, 1)
(1165, 0.99, 1)
(1166, 0.99, 1)
(1167, 0.99, 1)
(1168, 0.99, 1)
(1169, 0.99, 1)
(1170, 0.99, 1)
(1171, 0.99, 1)
(1172, 0.99, 1)
(1173, 0.99, 1)
(1174, 0.99, 1)
(1175, 0.99, 1)
(1176, 0.99, 1)
(1177, 0.99, 1)
(1178, 0.99, 1)
(1179, 0.99, 1)
(1180, 0.99, 1)
(1181, 0.99, 1)
(1182, 0.99, 1)
(1183, 0.99, 1)
(1184, 0.99, 1)
(1185, 0.99, 1)
(1186, 0.99, 1)
(1187, 0.99, 1)
(1188, 0.99, 1)
(1189, 0.99, 1)
(1190, 0.99, 1)
(1191, 0.99, 1)
(1192, 0.99, 1)
(1193, 0.99, 1)
(1194, 0.99, 1)
(1195, 0.99, 1)
(1196, 0.99, 1)
(1197, 0.99, 1)
(1198, 0.99, 1)
(1199, 0.99, 1)
(1200, 0.99, 1)
(1201, 0.99, 1)
(1202, 0.99, 1)
(1203, 0.99, 1)
(1204, 0.99, 1)
(1205, 0.99, 1)
(1206, 0.99, 1)
(1207, 0.99, 1)
(1208, 0.99, 1)
(1209, 0.99, 1)
(1210, 0.99, 1)
(1211, 0.99, 1)
(1212, 0.99, 1)
(1213, 0.99, 1)
(1214, 0.99, 1)
(1215, 0.99, 1)
(1216, 0.99, 1)
(1217, 0.99, 1)
(1218, 0.99, 1)
(1219, 0.99, 1)
(1220, 0.99, 1)
(1221, 0.99, 1)
(1222, 0.99, 1)
(1223, 0.99, 1)
(1224, 0.99, 1)
(1225, 0.99, 1)
(1226, 0.99, 1)
(1227, 0.99, 1)
(1228, 0.99, 1)
(1229, 0.99, 1)
(1230, 0.99, 1)
(1231, 0.99, 1)
(1232, 0.99, 1)
(1233, 0.99, 1)
(1234, 0.99, 1)
(1235, 0.99, 1)
(1236, 0.99, 1)
(1237, 0.99, 1)
(1238, 0.99, 1)
(1239, 0.99, 1)
(1240, 0.99, 1)
(1241, 0.99, 1)
(1242, 0.99, 1)
(1243, 0.99, 1)
(1244, 0.99, 1)
(1245, 0.99, 1)
(1246, 0.99, 1)
(1247, 0.99, 1)
(1248, 0.99, 1)
(1249, 0.99, 1)
(1250, 0.99, 1)
(1251, 0.99, 1)
(1252, 0.99, 1)
(1253, 0.99, 1)
(1254, 0.99, 1)
(1255, 0.99, 1)
(1256, 0.99, 1)
(1257, 0.99, 1)
(1258, 0.99, 1)
(1259, 0.99, 1)
(1260, 0.99, 1)
(1261, 0.99, 1)
(1262, 0.99, 1)
(1263, 0.99, 1)
(1264, 0.99, 1)
(1265, 0.99, 1)
(1266, 0.99, 1)
(1267, 0.99, 1)
(1268, 0.99, 1)
(1269, 0.99, 1)
(1270, 0.99, 1)
(1271, 0.99, 1)
(1272, 0.99, 1)
(1273, 0.99, 1)
(1274, 0.99, 1)
(1275, 0.99, 1)
(1276, 0.99, 1)
(1277, 0.99, 1)
(1278, 0.99, 1)
(1279, 0.99, 1)
(1280, 0.99, 1)
(1281, 0.99, 1)
(1282, 0.99, 1)
(1283, 0.99, 1)
(1284, 0.99, 1)
(1285, 0.99, 1)
(1286, 0.99, 1)
(1287, 0.99, 1)
(1288, 0.99, 1)
(1289, 0.99, 1)
(1290, 0.99, 1)
(1291, 0.99, 1)
(1292, 0.99, 1)
(1293, 0.99, 1)
(1294, 0.99, 1)
(1295, 0.99, 1)
(1296, 0.99, 1)
(1297, 0.99, 1)
(1298, 0.99, 1)
(1299, 0.99, 1)
(1300, 0.99, 1)
(1301, 0.99, 1)
(1302, 0.99, 1)
(1303, 0.99, 1)
(1304, 0.99, 1)
(1305, 0.99, 1)
(1306, 0.99, 1)
(1307, 0.99, 1)
(1308, 0.99, 1)
(1309, 0.99, 1)
(1310, 0.99, 1)
(1311, 0.99, 1)
(1312, 0.99, 1)
(1313, 0.99, 1)
(1314, 0.99, 1)
(1315, 0.99, 1)
(1316, 0.99, 1)
(1317, 0.99, 1)
(1318, 0.99, 1)
(1319, 0.99, 1)

In [67]:
#TABLA GENERO
with engine.connect() as con:
    
    rs = con.execute('SELECT GenreId,Name FROM genres;')
    
    for row in rs:
        print(row)
        
con.close()

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
(11, 'Bossa Nova')
(12, 'Easy Listening')
(13, 'Heavy Metal')
(14, 'R&B/Soul')
(15, 'Electronica/Dance')
(16, 'World')
(17, 'Hip Hop/Rap')
(18, 'Science Fiction')
(19, 'TV Shows')
(20, 'Sci Fi & Fantasy')
(21, 'Drama')
(22, 'Comedy')
(23, 'Alternative')
(24, 'Classical')
(25, 'Opera')

In [68]:
#TABLA ARTISTAS
with engine.connect() as con:
    
    rs = con.execute('SELECT ArtistId, Name FROM artists;')
    
    for row in rs:
        print(row)
        
con.close()

(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')
(6, 'Antônio Carlos Jobim')
(7, 'Apocalyptica')
(8, 'Audioslave')
(9, 'BackBeat')
(10, 'Billy Cobham')
(11, 'Black Label Society')
(12, 'Black Sabbath')
(13, 'Body Count')
(14, 'Bruce Dickinson')
(15, 'Buddy Guy')
(16, 'Caetano Veloso')
(17, 'Chico Buarque')
(18, 'Chico Science & Nação Zumbi')
(19, 'Cidade Negra')
(20, 'Cláudio Zoli')
(21, 'Various Artists')
(22, 'Led Zeppelin')
(23, 'Frank Zappa & Captain Beefheart')
(24, 'Marcos Valle')
(25, 'Milton Nascimento & Bebeto')
(26, 'Azymuth')
(27, 'Gilberto Gil')
(28, 'João Gilberto')
(29, 'Bebel Gilberto')
(30, 'Jorge Vercilo')
(31, 'Baby Consuelo')
(32, 'Ney Matogrosso')
(33, 'Luiz Melodia')
(34, 'Nando Reis')
(35, 'Pedro Luís & A Parede')
(36, 'O Rappa')
(37, 'Ed Motta')
(38, 'Banda Black Rio')
(39, 'Fernanda Porto')
(40, 'Os Cariocas')
(41, 'Elis Regina')
(42, 'Milton Nascimento')
(43, 'A Cor Do Som')
(44, 'Kid Abelha')
(45, 'Sandra De Sá')
(46, 'Jorge Ben')
(47, 'Hermeto Pascoal')
(48, 'Barão Vermelho')
(49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto')
(50, 'Metallica')
(51, 'Queen')
(52, 'Kiss')
(53, 'Spyro Gyra')
(54, 'Green Day')
(55, 'David Coverdale')
(56, 'Gonzaguinha')
(57, 'Os Mutantes')
(58, 'Deep Purple')
(59, 'Santana')
(60, 'Santana Feat. Dave Matthews')
(61, 'Santana Feat. Everlast')
(62, 'Santana Feat. Rob Thomas')
(63, 'Santana Feat. Lauryn Hill & Cee-Lo')
(64, 'Santana Feat. The Project G&B')
(65, 'Santana Feat. Maná')
(66, 'Santana Feat. Eagle-Eye Cherry')
(67, 'Santana Feat. Eric Clapton')
(68, 'Miles Davis')
(69, 'Gene Krupa')
(70, 'Toquinho & Vinícius')
(71, 'Vinícius De Moraes & Baden Powell')
(72, 'Vinícius De Moraes')
(73, 'Vinícius E Qurteto Em Cy')
(74, 'Vinícius E Odette Lara')
(75, 'Vinicius, Toquinho & Quarteto Em Cy')
(76, 'Creedence Clearwater Revival')
(77, 'Cássia Eller')
(78, 'Def Leppard')
(79, 'Dennis Chambers')
(80, 'Djavan')
(81, 'Eric Clapton')
(82, 'Faith No More')
(83, 'Falamansa')
(84, 'Foo Fighters')
(85, 'Frank Sinatra')
(86, 'Funk Como Le Gusta')
(87, 'Godsmack')
(88, "Guns N' Roses")
(89, 'Incognito')
(90, 'Iron Maiden')
(91, 'James Brown')
(92, 'Jamiroquai')
(93, 'JET')
(94, 'Jimi Hendrix')
(95, 'Joe Satriani')
(96, 'Jota Quest')
(97, 'João Suplicy')
(98, 'Judas Priest')
(99, 'Legião Urbana')
(100, 'Lenny Kravitz')
(101, 'Lulu Santos')
(102, 'Marillion')
(103, 'Marisa Monte')
(104, 'Marvin Gaye')
(105, 'Men At Work')
(106, 'Motörhead')
(107, 'Motörhead & Girlschool')
(108, 'Mônica Marianno')
(109, 'Mötley Crüe')
(110, 'Nirvana')
(111, 'O Terço')
(112, 'Olodum')
(113, 'Os Paralamas Do Sucesso')
(114, 'Ozzy Osbourne')
(115, 'Page & Plant')
(116, 'Passengers')
(117, "Paul D'Ianno")
(118, 'Pearl Jam')
(119, 'Peter Tosh')
(120, 'Pink Floyd')
(121, 'Planet Hemp')
(122, 'R.E.M. Feat. Kate Pearson')
(123, 'R.E.M. Feat. KRS-One')
(124, 'R.E.M.')
(125, 'Raimundos')
(126, 'Raul Seixas')
(127, 'Red Hot Chili Peppers')
(128, 'Rush')
(129, 'Simply Red')
(130, 'Skank')
(131, 'Smashing Pumpkins')
(132, 'Soundgarden')
(133, 'Stevie Ray Vaughan & Double Trouble')
(134, 'Stone Temple Pilots')
(135, 'System Of A Down')
(136, 'Terry Bozzio, Tony Levin & Steve Stevens')
(137, 'The Black Crowes')
(138, 'The Clash')
(139, 'The Cult')
(140, 'The Doors')
(141, 'The Police')
(142, 'The Rolling Stones')
(143, 'The Tea Party')
(144, 'The Who')
(145, 'Tim Maia')
(146, 'Titãs')
(147, 'Battlestar Galactica')
(148, 'Heroes')
(149, 'Lost')
(150, 'U2')
(151, 'UB40')
(152, 'Van Halen')
(153, 'Velvet Revolver')
(154, 'Whitesnake')
(155, 'Zeca Pagodinho')
(156, 'The Office')
(157, 'Dread Zeppelin')
(158, 'Battlestar Galactica (Classic)')
(159, 'Aquaman')
(160, 'Christina Aguilera featuring BigElf')
(161, "Aerosmith & Sierra Leone's Refugee Allstars")
(162, 'Los Lonely Boys')
(163, 'Corinne Bailey Rae')
(164, 'Dhani Harrison & Jakob Dylan')
(165, 'Jackson Browne')
(166, 'Avril Lavigne')
(167, 'Big & Rich')
(168, "Youssou N'Dour")
(169, 'Black Eyed Peas')
(170, 'Jack Johnson')
(171, 'Ben Harper')
(172, 'Snow Patrol')
(173, 'Matisyahu')
(174, 'The Postal Service')
(175, 'Jaguares')
(176, 'The Flaming Lips')
(177, "Jack's Mannequin & Mick Fleetwood")
(178, 'Regina Spektor')
(179, 'Scorpions')
(180, 'House Of Pain')
(181, 'Xis')
(182, 'Nega Gizza')
(183, 'Gustavo & Andres Veiga & Salazar')
(184, 'Rodox')
(185, 'Charlie Brown Jr.')
(186, 'Pedro Luís E A Parede')
(187, 'Los Hermanos')
(188, 'Mundo Livre S/A')
(189, 'Otto')
(190, 'Instituto')
(191, 'Nação Zumbi')
(192, 'DJ Dolores & Orchestra Santa Massa')
(193, 'Seu Jorge')
(194, 'Sabotage E Instituto')
(195, 'Stereo Maracana')
(196, 'Cake')
(197, 'Aisha Duo')
(198, 'Habib Koité and Bamada')
(199, 'Karsh Kale')
(200, 'The Posies')
(201, 'Luciana Souza/Romero Lubambo')
(202, 'Aaron Goldberg')
(203, 'Nicolaus Esterhazy Sinfonia')
(204, 'Temple of the Dog')
(205, 'Chris Cornell')
(206, 'Alberto Turco & Nova Schola Gregoriana')
(207, 'Richard Marlow & The Choir of Trinity College, Cambridge')
(208, 'English Concert & Trevor Pinnock')
(209, 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker')
(210, 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer')
(211, 'Wilhelm Kempff')
(212, 'Yo-Yo Ma')
(213, 'Scholars Baroque Ensemble')
(214, 'Academy of St. Martin in the Fields & Sir Neville Marriner')
(215, 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner')
(216, 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer')
(217, 'Royal Philharmonic Orchestra & Sir Thomas Beecham')
(218, 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner')
(219, 'Britten Sinfonia, Ivor Bolton & Lesley Garrett')
(220, 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti')
(221, 'Sir Georg Solti & Wiener Philharmoniker')
(222, 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair')
(223, 'London Symphony Orchestra & Sir Charles Mackerras')
(224, 'Barry Wordsworth & BBC Concert Orchestra')
(225, 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker')
(226, 'Eugene Ormandy')
(227, 'Luciano Pavarotti')
(228, 'Leonard Bernstein & New York Philharmonic')
(229, 'Boston Symphony Orchestra & Seiji Ozawa')
(230, 'Aaron Copland & London Symphony Orchestra')
(231, 'Ton Koopman')
(232, 'Sergei Prokofiev & Yuri Temirkanov')
(233, 'Chicago Symphony Orchestra & Fritz Reiner')
(234, 'Orchestra of The Age of Enlightenment')
(235, 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra')
(236, 'James Levine')
(237, 'Berliner Philharmoniker & Hans Rosbaud')
(238, 'Maurizio Pollini')
(239, 'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett')
(240, 'Gustav Mahler')
(241, 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos')
(242, 'Edo de Waart & San Francisco Symphony')
(243, 'Antal Doráti & London Symphony Orchestra')
(244, 'Choir Of Westminster Abbey & Simon Preston')
(245, 'Michael Tilson Thomas & San Francisco Symphony')
(246, 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker')
(247, "The King's Singers")
(248, 'Berliner Philharmoniker & Herbert Von Karajan')
(249, 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker')
(250, "Christopher O'Riley")
(251, 'Fretwork')
(252, 'Amy Winehouse')
(253, 'Calexico')
(254, 'Otto Klemperer & Philharmonia Orchestra')
(255, 'Yehudi Menuhin')
(256, 'Philharmonia Orchestra & Sir Neville Marriner')
(257, 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart')
(258, 'Les Arts Florissants & William Christie')
(259, 'The 12 Cellists of The Berlin Philharmonic')
(260, 'Adrian Leaper & Doreen de Feis')
(261, 'Roger Norrington, London Classical Players')
(262, "Charles Dutoit & L'Orchestre Symphonique de Montréal")
(263, 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir')
(264, "Kent Nagano and Orchestre de l'Opéra de Lyon")
(265, 'Julian Bream')
(266, 'Martin Roscoe')
(267, 'Göteborgs Symfoniker & Neeme Järvi')
(268, 'Itzhak Perlman')
(269, 'Michele Campanella')
(270, 'Gerald Moore')
(271, 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp')
(272, 'Emerson String Quartet')
(273, 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu')
(274, 'Nash Ensemble')
(275, 'Philip Glass Ensemble')

In [69]:
#TABLA ALBUMS
with engine.connect() as con:
    
    rs = con.execute('SELECT AlbumId, Title FROM albums;')
    
    for row in rs:
        print(row)
        
con.close()

(1, 'For Those About To Rock We Salute You')
(2, 'Balls to the Wall')
(3, 'Restless and Wild')
(4, 'Let There Be Rock')
(5, 'Big Ones')
(6, 'Jagged Little Pill')
(7, 'Facelift')
(8, 'Warner 25 Anos')
(9, 'Plays Metallica By Four Cellos')
(10, 'Audioslave')
(11, 'Out Of Exile')
(12, 'BackBeat Soundtrack')
(13, 'The Best Of Billy Cobham')
(14, 'Alcohol Fueled Brewtality Live! [Disc 1]')
(15, 'Alcohol Fueled Brewtality Live! [Disc 2]')
(16, 'Black Sabbath')
(17, 'Black Sabbath Vol. 4 (Remaster)')
(18, 'Body Count')
(19, 'Chemical Wedding')
(20, 'The Best Of Buddy Guy - The Millenium Collection')
(21, 'Prenda Minha')
(22, 'Sozinho Remix Ao Vivo')
(23, 'Minha Historia')
(24, 'Afrociberdelia')
(25, 'Da Lama Ao Caos')
(26, 'Acústico MTV [Live]')
(27, 'Cidade Negra - Hits')
(28, 'Na Pista')
(29, 'Axé Bahia 2001')
(30, 'BBC Sessions [Disc 1] [Live]')
(31, 'Bongo Fury')
(32, 'Carnaval 2001')
(33, 'Chill: Brazil (Disc 1)')
(34, 'Chill: Brazil (Disc 2)')
(35, 'Garage Inc. (Disc 1)')
(36, 'Greatest Hits II')
(37, 'Greatest Kiss')
(38, 'Heart of the Night')
(39, 'International Superhits')
(40, 'Into The Light')
(41, 'Meus Momentos')
(42, 'Minha História')
(43, 'MK III The Final Concerts [Disc 1]')
(44, 'Physical Graffiti [Disc 1]')
(45, 'Sambas De Enredo 2001')
(46, 'Supernatural')
(47, 'The Best of Ed Motta')
(48, 'The Essential Miles Davis [Disc 1]')
(49, 'The Essential Miles Davis [Disc 2]')
(50, 'The Final Concerts (Disc 2)')
(51, "Up An' Atom")
(52, 'Vinícius De Moraes - Sem Limite')
(53, 'Vozes do MPB')
(54, 'Chronicle, Vol. 1')
(55, 'Chronicle, Vol. 2')
(56, 'Cássia Eller - Coleção Sem Limite [Disc 2]')
(57, 'Cássia Eller - Sem Limite [Disc 1]')
(58, 'Come Taste The Band')
(59, 'Deep Purple In Rock')
(60, 'Fireball')
(61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's")
(62, 'Machine Head')
(63, 'Purpendicular')
(64, 'Slaves And Masters')
(65, 'Stormbringer')
(66, 'The Battle Rages On')
(67, "Vault: Def Leppard's Greatest Hits")
(68, 'Outbreak')
(69, 'Djavan Ao Vivo - Vol. 02')
(70, 'Djavan Ao Vivo - Vol. 1')
(71, 'Elis Regina-Minha História')
(72, 'The Cream Of Clapton')
(73, 'Unplugged')
(74, 'Album Of The Year')
(75, 'Angel Dust')
(76, 'King For A Day Fool For A Lifetime')
(77, 'The Real Thing')
(78, 'Deixa Entrar')
(79, 'In Your Honor [Disc 1]')
(80, 'In Your Honor [Disc 2]')
(81, 'One By One')
(82, 'The Colour And The Shape')
(83, 'My Way: The Best Of Frank Sinatra [Disc 1]')
(84, 'Roda De Funk')
(85, 'As Canções de Eu Tu Eles')
(86, 'Quanta Gente Veio Ver (Live)')
(87, 'Quanta Gente Veio ver--Bônus De Carnaval')
(88, 'Faceless')
(89, 'American Idiot')
(90, 'Appetite for Destruction')
(91, 'Use Your Illusion I')
(92, 'Use Your Illusion II')
(93, 'Blue Moods')
(94, 'A Matter of Life and Death')
(95, 'A Real Dead One')
(96, 'A Real Live One')
(97, 'Brave New World')
(98, 'Dance Of Death')
(99, 'Fear Of The Dark')
(100, 'Iron Maiden')
(101, 'Killers')
(102, 'Live After Death')
(103, 'Live At Donington 1992 (Disc 1)')
(104, 'Live At Donington 1992 (Disc 2)')
(105, 'No Prayer For The Dying')
(106, 'Piece Of Mind')
(107, 'Powerslave')
(108, 'Rock In Rio [CD1]')
(109, 'Rock In Rio [CD2]')
(110, 'Seventh Son of a Seventh Son')
(111, 'Somewhere in Time')
(112, 'The Number of The Beast')
(113, 'The X Factor')
(114, 'Virtual XI')
(115, 'Sex Machine')
(116, 'Emergency On Planet Earth')
(117, 'Synkronized')
(118, 'The Return Of The Space Cowboy')
(119, 'Get Born')
(120, 'Are You Experienced?')
(121, 'Surfing with the Alien (Remastered)')
(122, 'Jorge Ben Jor 25 Anos')
(123, 'Jota Quest-1995')
(124, 'Cafezinho')
(125, 'Living After Midnight')
(126, 'Unplugged [Live]')
(127, 'BBC Sessions [Disc 2] [Live]')
(128, 'Coda')
(129, 'Houses Of The Holy')
(130, 'In Through The Out Door')
(131, 'IV')
(132, 'Led Zeppelin I')
(133, 'Led Zeppelin II')
(134, 'Led Zeppelin III')
(135, 'Physical Graffiti [Disc 2]')
(136, 'Presence')
(137, 'The Song Remains The Same (Disc 1)')
(138, 'The Song Remains The Same (Disc 2)')
(139, 'A TempestadeTempestade Ou O Livro Dos Dias')
(140, 'Mais Do Mesmo')
(141, 'Greatest Hits')
(142, 'Lulu Santos - RCA 100 Anos De Música - Álbum 01')
(143, 'Lulu Santos - RCA 100 Anos De Música - Álbum 02')
(144, 'Misplaced Childhood')
(145, 'Barulhinho Bom')
(146, 'Seek And Shall Find: More Of The Best (1963-1981)')
(147, 'The Best Of Men At Work')
(148, 'Black Album')
(149, 'Garage Inc. (Disc 2)')
(150, "Kill 'Em All")
(151, 'Load')
(152, 'Master Of Puppets')
(153, 'ReLoad')
(154, 'Ride The Lightning')
(155, 'St. Anger')
(156, '...And Justice For All')
(157, 'Miles Ahead')
(158, 'Milton Nascimento Ao Vivo')
(159, 'Minas')
(160, 'Ace Of Spades')
(161, 'Demorou...')
(162, 'Motley Crue Greatest Hits')
(163, 'From The Muddy Banks Of The Wishkah [Live]')
(164, 'Nevermind')
(165, 'Compositores')
(166, 'Olodum')
(167, 'Acústico MTV')
(168, 'Arquivo II')
(169, 'Arquivo Os Paralamas Do Sucesso')
(170, 'Bark at the Moon (Remastered)')
(171, 'Blizzard of Ozz')
(172, 'Diary of a Madman (Remastered)')
(173, 'No More Tears (Remastered)')
(174, 'Tribute')
(175, 'Walking Into Clarksdale')
(176, 'Original Soundtracks 1')
(177, 'The Beast Live')
(178, 'Live On Two Legs [Live]')
(179, 'Pearl Jam')
(180, 'Riot Act')
(181, 'Ten')
(182, 'Vs.')
(183, 'Dark Side Of The Moon')
(184, 'Os Cães Ladram Mas A Caravana Não Pára')
(185, 'Greatest Hits I')
(186, 'News Of The World')
(187, 'Out Of Time')
(188, 'Green')
(189, 'New Adventures In Hi-Fi')
(190, 'The Best Of R.E.M.: The IRS Years')
(191, 'Cesta Básica')
(192, 'Raul Seixas')
(193, 'Blood Sugar Sex Magik')
(194, 'By The Way')
(195, 'Californication')
(196, 'Retrospective I (1974-1980)')
(197, 'Santana - As Years Go By')
(198, 'Santana Live')
(199, 'Maquinarama')
(200, 'O Samba Poconé')
(201, 'Judas 0: B-Sides and Rarities')
(202, 'Rotten Apples: Greatest Hits')
(203, 'A-Sides')
(204, 'Morning Dance')
(205, 'In Step')
(206, 'Core')
(207, 'Mezmerize')
(208, '[1997] Black Light Syndrome')
(209, 'Live [Disc 1]')
(210, 'Live [Disc 2]')
(211, 'The Singles')
(212, 'Beyond Good And Evil')
(213, 'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]')
(214, 'The Doors')
(215, 'The Police Greatest Hits')
(216, 'Hot Rocks, 1964-1971 (Disc 1)')
(217, 'No Security')
(218, 'Voodoo Lounge')
(219, 'Tangents')
(220, 'Transmission')
(221, 'My Generation - The Very Best Of The Who')
(222, 'Serie Sem Limite (Disc 1)')
(223, 'Serie Sem Limite (Disc 2)')
(224, 'Acústico')
(225, 'Volume Dois')
(226, 'Battlestar Galactica: The Story So Far')
(227, 'Battlestar Galactica, Season 3')
(228, 'Heroes, Season 1')
(229, 'Lost, Season 3')
(230, 'Lost, Season 1')
(231, 'Lost, Season 2')
(232, 'Achtung Baby')
(233, "All That You Can't Leave Behind")
(234, 'B-Sides 1980-1990')
(235, 'How To Dismantle An Atomic Bomb')
(236, 'Pop')
(237, 'Rattle And Hum')
(238, 'The Best Of 1980-1990')
(239, 'War')
(240, 'Zooropa')
(241, 'UB40 The Best Of - Volume Two [UK]')
(242, 'Diver Down')
(243, 'The Best Of Van Halen, Vol. I')
(244, 'Van Halen')
(245, 'Van Halen III')
(246, 'Contraband')
(247, 'Vinicius De Moraes')
(248, 'Ao Vivo [IMPORT]')
(249, 'The Office, Season 1')
(250, 'The Office, Season 2')
(251, 'The Office, Season 3')
(252, 'Un-Led-Ed')
(253, 'Battlestar Galactica (Classic), Season 1')
(254, 'Aquaman')
(255, 'Instant Karma: The Amnesty International Campaign to Save Darfur')
(256, 'Speak of the Devil')
(257, '20th Century Masters - The Millennium Collection: The Best of Scorpions')
(258, 'House of Pain')
(259, 'Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro')
(260, 'Cake: B-Sides and Rarities')
(261, 'LOST, Season 4')
(262, 'Quiet Songs')
(263, 'Muso Ko')
(264, 'Realize')
(265, 'Every Kind of Light')
(266, 'Duos II')
(267, 'Worlds')
(268, 'The Best of Beethoven')
(269, 'Temple of the Dog')
(270, 'Carry On')
(271, 'Revelations')
(272, 'Adorate Deum: Gregorian Chant from the Proper of the Mass')
(273, 'Allegri: Miserere')
(274, 'Pachelbel: Canon & Gigue')
(275, 'Vivaldi: The Four Seasons')
(276, 'Bach: Violin Concertos')
(277, 'Bach: Goldberg Variations')
(278, 'Bach: The Cello Suites')
(279, 'Handel: The Messiah (Highlights)')
(280, 'The World of Classical Favourites')
(281, 'Sir Neville Marriner: A Celebration')
(282, 'Mozart: Wind Concertos')
(283, 'Haydn: Symphonies 99 - 104')
(284, 'Beethoven: Symhonies Nos. 5 & 6')
(285, 'A Soprano Inspired')
(286, 'Great Opera Choruses')
(287, 'Wagner: Favourite Overtures')
(288, 'Fauré: Requiem, Ravel: Pavane & Others')
(289, 'Tchaikovsky: The Nutcracker')
(290, 'The Last Night of the Proms')
(291, 'Puccini: Madama Butterfly - Highlights')
(292, 'Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies')
(293, "Pavarotti's Opera Made Easy")
(294, "Great Performances - Barber's Adagio and Other Romantic Favorites for Strings")
(295, 'Carmina Burana')
(296, 'A Copland Celebration, Vol. I')
(297, 'Bach: Toccata & Fugue in D Minor')
(298, 'Prokofiev: Symphony No.1')
(299, 'Scheherazade')
(300, 'Bach: The Brandenburg Concertos')
(301, 'Chopin: Piano Concertos Nos. 1 & 2')
(302, 'Mascagni: Cavalleria Rusticana')
(303, 'Sibelius: Finlandia')
(304, 'Beethoven Piano Sonatas: Moonlight & Pastorale')
(305, 'Great Recordings of the Century - Mahler: Das Lied von der Erde')
(306, 'Elgar: Cello Concerto & Vaughan Williams: Fantasias')
(307, 'Adams, John: The Chairman Dances')
(308, "Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory")
(309, 'Palestrina: Missa Papae Marcelli & Allegri: Miserere')
(310, 'Prokofiev: Romeo & Juliet')
(311, 'Strauss: Waltzes')
(312, 'Berlioz: Symphonie Fantastique')
(313, 'Bizet: Carmen Highlights')
(314, 'English Renaissance')
(315, 'Handel: Music for the Royal Fireworks (Original Version 1749)')
(316, 'Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande')
(317, 'Mozart Gala: Famous Arias')
(318, 'SCRIABIN: Vers la flamme')
(319, 'Armada: Music from the Courts of England and Spain')
(320, 'Mozart: Symphonies Nos. 40 & 41')
(321, 'Back to Black')
(322, 'Frank')
(323, 'Carried to Dust (Bonus Track Version)')
(324, "Beethoven: Symphony No. 6 'Pastoral' Etc.")
(325, 'Bartok: Violin & Viola Concertos')
(326, "Mendelssohn: A Midsummer Night's Dream")
(327, 'Bach: Orchestral Suites Nos. 1 - 4')
(328, 'Charpentier: Divertissements, Airs & Concerts')
(329, 'South American Getaway')
(330, 'Górecki: Symphony No. 3')
(331, 'Purcell: The Fairy Queen')
(332, 'The Ultimate Relexation Album')
(333, 'Purcell: Music for the Queen Mary')
(334, 'Weill: The Seven Deadly Sins')
(335, 'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro')
(336, 'Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps')
(337, 'Szymanowski: Piano Works, Vol. 1')
(338, 'Nielsen: The Six Symphonies')
(339, "Great Recordings of the Century: Paganini's 24 Caprices")
(340, "Liszt - 12 Études D'Execution Transcendante")
(341, 'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder')
(342, 'Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3')
(343, 'Respighi:Pines of Rome')
(344, "Schubert: The Late String Quartets & String Quintet (3 CD's)")
(345, "Monteverdi: L'Orfeo")
(346, 'Mozart: Chamber Music')
(347, 'Koyaanisqatsi (Soundtrack from the Motion Picture)')

In [70]:
# Transform
#EMPLOYEES


with engine.connect() as con:
    
    rs = con.execute("""SELECT EmployeeId,
       LastName,
       FirstName,
       Title,
       BirthDate,
       HireDate,
       Address,
       City,
       State,
       Country,
       PostalCode,
       Phone,
       Fax,
       Email
  FROM employees;
""")
    
    for row in rs:
        print(row)
        
con.close()

(1, 'Adams', 'Andrew', 'General Manager', '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

In [71]:
#TABLA ALBUMS
with engine.connect() as con:
    
    rs = con.execute('SELECT PlaylistId, Name FROM playlists;')
    
    for row in rs:
        print(row)
        
con.close()

(1, 'Music')
(2, 'Movies')
(3, 'TV Shows')
(4, 'Audiobooks')
(5, '90’s Music')
(6, 'Audiobooks')
(7, 'Movies')
(8, 'Music')
(9, 'Music Videos')
(10, 'TV Shows')
(11, 'Brazilian Music')
(12, 'Classical')
(13, 'Classical 101 - Deep Cuts')
(14, 'Classical 101 - Next Steps')
(15, 'Classical 101 - The Basics')
(16, 'Grunge')
(17, 'Heavy Metal Classic')
(18, 'On-The-Go 1')

In [72]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# invoices
import pandas as pd
df = pd.read_sql_query("""SELECT InvoiceId,
       InvoiceDate,
       BillingAddress,
       BillingCity,
       CASE
           WHEN BillingState is NOT NULL then BillingState
       ELSE 'NA'
        END
       BillingState,
       BillingCountry,
       CASE
           WHEN BillingPostalCode is NOT NULL then BillingPostalCode
       ELSE 'NA'
       END
       BillingPostalCode,
       Total
  FROM invoices;""", con=engine.connect())

In [73]:
df.head()

,InvoiceId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,NA,Germany,70174,1.98
1,2,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,NA,Norway,0171,3.96
2,3,2009-01-03 00:00:00,Grétrystraat 63,Brussels,NA,Belgium,1000,5.94
3,4,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86

In [74]:
#Exportar el archivo en un formato a su elección.

df.to_csv('dataframe_dim_invoices.csv')

In [75]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# customers
import pandas as pd
df1 = pd.read_sql_query("""SELECT CustomerId,FirstName,LastName,
       CASE
           WHEN Company is NOT NULL then Company
       ELSE 'NA'
       END
       Company,Address,City,
       CASE
           WHEN State is NOT NULL then State
       ELSE 'NA'
        END
       State,Country,
       CASE
           WHEN PostalCode is NOT NULL then PostalCode
       ELSE 'NA'
        END
       PostalCode,
       Phone,
        CASE
           WHEN Fax is NOT NULL then Fax
       ELSE 'NA'
        END
       Fax,Email
      
  FROM customers;""", con=engine.connect())

In [76]:
df1.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br
1,2,Leonie,Köhler,NA,Theodor-Heuss-Straße 34,Stuttgart,NA,Germany,70174,+49 0711 2842222,NA,leonekohler@surfeu.de
2,3,François,Tremblay,NA,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NA,ftremblay@gmail.com
3,4,Bjørn,Hansen,NA,Ullevålsveien 14,Oslo,NA,Norway,0171,+47 22 44 22 22,NA,bjorn.hansen@yahoo.no
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NA,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com

In [77]:
#Exportar el archivo en un formato a su elección.

df1.to_csv('dataframe_dim_customers.csv')

In [78]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# invoice_items
import pandas as pd
df2 = pd.read_sql_query("""SELECT InvoiceLineId,UnitPrice,Quantity FROM invoice_items;""", con=engine.connect())

In [79]:
df2.head()

   InvoiceLineId  UnitPrice  Quantity
0              1       0.99         1
1              2       0.99         1
2              3       0.99         1
3              4       0.99         1
4              5       0.99         1

In [80]:
#Exportar el archivo en un formato a su elección.

df2.to_csv('dataframe_dim_invoice_items.csv')

In [81]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# genres
import pandas as pd
df3 = pd.read_sql_query("""SELECT GenreId,Name FROM genres;""", con=engine.connect())

In [82]:
df3.head()

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll

In [83]:
#Exportar el archivo en un formato a su elección.

df3.to_csv('dataframe_dim_genres.csv')

In [84]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# artists
import pandas as pd
df4 = pd.read_sql_query("""SELECT ArtistId, Name FROM artists;""", con=engine.connect())

In [85]:
df4.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [86]:
#Exportar el archivo en un formato a su elección.

df4.to_csv('dataframe_dim_artists.csv')

In [87]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# albums
import pandas as pd
df5 = pd.read_sql_query("""SELECT AlbumId, Title FROM albums;""", con=engine.connect())

In [88]:
df5.head()

   AlbumId                                  Title
0        1  For Those About To Rock We Salute You
1        2                      Balls to the Wall
2        3                      Restless and Wild
3        4                      Let There Be Rock
4        5                               Big Ones

In [89]:
#Exportar el archivo en un formato a su elección.

df5.to_csv('dataframe_dim_albums.csv')

In [90]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# employees
import pandas as pd
df6 = pd.read_sql_query("""SELECT EmployeeId,
       LastName,
       FirstName,
       Title,
       BirthDate,
       HireDate,
       Address,
       City,
       State,
       Country,
       PostalCode,
       Phone,
       Fax,
       Email
  FROM employees;""", con=engine.connect())

In [91]:
df6.head()

,EmployeeId,LastName,FirstName,Title,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [92]:
#Exportar el archivo en un formato a su elección.

df6.to_csv('dataframe_dim_employees.csv')

In [93]:
#Cargar a última query. Aquí debe utilizar un objeto dataframe
# playlists
import pandas as pd
df7 = pd.read_sql_query("""SELECT PlaylistId, Name FROM playlists;""", con=engine.connect())

In [94]:
df7.head()

   PlaylistId        Name
0           1       Music
1           2      Movies
2           3    TV Shows
3           4  Audiobooks
4           5  90’s Music

In [95]:
#Exportar el archivo en un formato a su elección.

df7.to_csv('dataframe_dim_playlists.csv')